<div>
  <ol>
    <mat-card *ngFor="let book of bookService.books$ | async" class="card">
      <img [src]="book.bookpic" />
      <mat-card-content id="card-content">
        <p id="title">Title: {{ book.bookname }}</p>
        <p>Publisher: {{ book.publisher }}</p>
        <p>Publish Date: {{ book.publishdate }}</p>
        <div id="desc">
          <p>Description: {{ book.description }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          id="wish-btn"
          (click)="addToWishList(book.bookname)"
        >
          Add To Wishlist
        </button>
      </mat-card-actions>
    </mat-card>
  </ol>
</div>
