.card {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.card img {
  padding-right: 30px;
}

#desc {
  max-height: 100px;
  max-width: 300px;
  overflow-y: scroll;
}

#title {
  font-weight: bold;
}

#wish {
  position: absolute;
  top: 0;
  right: 0;
}
