:host {
  flex: auto;
  min-width: 365px;
  max-width: 490px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
#card {
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
}

button {
  color: white;
}

#card-content {
  padding: 10px;
}
